<div class="container">
  <h2>Comment form</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Comment</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Write comment</h4>
        </div>
        <div class="modal-body">
          <input type="text"> 
          <!--to be expanded-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Publish comment</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss comment</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>