div.container, div.row { 
    border: 1px solid black;    
}

div#contentContainer{
    text-align: center;
}

a {
    color: white;
}
a.footer-author {
    color: darkblue;
}
a.footer-share {
    color: darkblue;
}
.form {
    border: 1px solid black;
    
}

.btn-primary {
    border-radius: 0;
}

img#mainLogo {
    width: 100%;
}

img#contentImg {
    width: 50%;
    height: 50%;
}

.heading {
    text-align: center;
    border: 1px solid black;
    
}